<img src="assets/img/firm-profile.jpg" alt="alt text" width="100%" height="100%" />
<div class="paddedSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 paddingTop">
        <h4 class="title">Title Placeholder</h4>
        <p>Blurb placeholder</p>
      </div>
      <div class="col-md-4 gray paddingTop">
        <div class="card">
          <h5 class="card-title">Our Practice Areas</h5>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item border-0">Personal Injury Claims</li>
              <li class="list-group-item border-0 sub">Car Accidents</li>
              <li class="list-group-item border-0 sub">Truck Accidents</li>
              <li class="list-group-item border-0 sub">Medical Malpractice</li>
              <li class="list-group-item border-0 sub">Slip and Fall</li>
              <li class="list-group-item border-0 sub">Truck Accidents</li>
              <li class="list-group-item border-0 sub">Wrongful Death</li>
              <li class="list-group-item border-0 sub">Birth Injuries</li>
              <li class="list-group-item border-0 sub">Workers' Compensation</li>
              <li class="list-group-item border-0">Aviation Law Claims</li>
              <li class="list-group-item border-0 sub">Plane and Helicopter Accidents</li>
              <li class="list-group-item border-0 sub">Emergency Landings</li>
              <li class="list-group-item border-0 sub">Airport Claims and Injuries</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
