<img src="assets/img/our-team.jpg" alt="alt text" width="100%" height="100%" />
<div class="paddedSection">
  <h4 class="title">Our Attorneys</h4>
  <div class="container-fluid">
    <h5 class="heading">Partners</h5>
    <!--  -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="row">
            <div class="col">
              <div class="card-block px-2">
                <p class="card-text"></p>
                <div class="image pull-left">
                  <img height="200" width="200" src="assets/img/leonardo.jpeg" class="img-fluid" alt="">
                </div>
                <h5>Leonardo Rocca, Managing Attorney</h5>
                <div class="text-muted">
                  <b>Education: </b>
                  <p> J.D., American University Washington College of Law, 2019</p>
                  <p> B.A., George Mason University, 2012</p>
                  <b>Admissions: </b>
                  <p> Maryland</p>
                  <p> Washington, D.C.</p>
                  <p>leonardorocca@metropolitanlegalsolutions.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer w-100">
            <p>Leo Roca is a born-and-raised Washingtonian, having lived the past 30-years in the D.C. metropolitan
              area. Leo obtained a Bachelor of Arts in Political Science from George Mason University and his law degree
              from American University’s Washington College of Law. During college and law school, Leo worked in
              numerous law firms in the DMV area and comes to our firm from a local firm in Rockville, Maryland where he
              worked on civil litigation matters. Leo takes great pride in his interaction with clients and his
              managerial role within Metropolitan Legal Solutions. Getting to know each client as an individual with
              distinct needs and concerns helps him craft personalized strategies to effectively litigate their personal
              injury cases. “In my experience, a one-size-fits-all approach to problem solving never helps anyone.” An
              active listener who prides himself on his communication skills, Leo is adept at familiarizing his clients
              with the process of litigation and guiding them confidently through it. Recognizing that injured clients
              are in distress and that time often is of the essence, Leo commits himself to establishing a trusting
              relationship with each of his clients, anticipating their needs, and then promptly addressing every
              concern they may have. Leo's experience and his disarming demeanor brings a sense of calm to his clients,
              their cases, and even to the courtroom. In his free time, Leo enjoys trying new restaurants around the
              D.C. area. </p>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="row">
            <div class="col">
              <div class="card-block px-2">
                <p class="card-text"></p>
                <div class="image pull-left">
                  <img height="200" width="200" src="assets/img/amana.jpg" class="img-fluid" alt="">
                </div>
                <h5>Amana Abdulwakeel</h5>
                <div class="text-muted">
                  <b>Education: </b>
                  <p> J.D., American University Washington College of Law, 2019</p>
                  <b>Admissions: </b>
                  <p> Virginia</p>
                  <p> Washington, D.C.</p>
                  <p>amanaabdulwakeel@metropolitanlegalsolutions.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer w-100">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum diam mi, pellentesque eu tincidunt
              eget, congue eu ante. Maecenas quis libero leo. Suspendisse facilisis eros in aliquam mollis. Praesent
              accumsan ultrices felis. Quisque quis purus at velit rutrum convallis. Phasellus varius quam sit amet
              lorem semper, at porta orci aliquam. Nullam sit amet urna sed tellus porta consectetur sed a metus. Sed
              quis quam feugiat, molestie arcu quis, cursus velit. Vivamus tincidunt rutrum lacus vel venenatis. Quisque
              eget est a ligula facilisis bibendum id vitae est. Nunc suscipit purus ac sapien pharetra, accumsan congue
              ex bibendum. Curabitur fringilla consectetur aliquet. Integer viverra lorem eu eros sagittis vestibulum.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="row">
            <div class="col">
              <div class="card-block px-2">
                <p class="card-text"></p>
                <div class="image pull-left">
                  <img height="200" width="200" src="assets/img/raymond.jpg" class="img-fluid" alt="">
                </div>
                <h5>Raymond Navarro</h5>
                <div class="text-muted">
                  <b>Education: </b>
                  <p> J.D., American University Washington College of Law, 2019</p>
                  <p> B.B.A., Loyola University, 2014</p>
                  <b>Admissions: </b>
                  <p> Maryland</p>
                  <p> Washington, D.C.</p>
                  <p>raymondnavarro@metropolitanlegalsolutions.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer w-100">
            <p>Raymond was born and raised in San Juan, Porto Rico. Before joining Metropolitan Legal Services, Raymond
              graduated from Loyola University with a Bachelor’s degree in Accounting and Information Systems. Prior to
              attending law school, Raymond worked as a Corporate Paralegal at Cleary Gottlieb Steen & Hamilton in New
              York City, where he mostly assisted the Capital Markets and Corporate Practice Group. During his time at
              the American University Washington College of Law, Raymond worked for Pietrantoni Mendez & Alvarez, an
              international law firm in San Juan, Porto Rico, assisting the Litigation and Corporate Practice Group.
              Raymond’s other law school activities included being a member of the International Law Review, an Editor
              of the Academy on Human Rights and Humanitarian Law Book, and a Student Clinician in the Human Rights
              Clinic. Through his Law Review comment, Raymond acquired an interest in the Space, Satellite, and Aviation
              law fields. Before joining our firm, Raymond worked for SES World Skies, a company that provides satellite
              communications to the aviation and maritime industry, and for the Federal Communications Commission’s
              Satellite Division. Raymond’s extensive background and experience in aviation law makes him an asset to
              the aviation practice at Metropolitan Legal Solutions. When he is not working, Raymond enjoys following
              the New York Yankees and spending time with his family.</p>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="row">
            <div class="col">
              <div class="card-block px-2">
                <p class="card-text"></p>
                <div class="image pull-left">
                  <img height="200" width="200" src="assets/img/katie.jpg" class="img-fluid" alt="">
                </div>
                <h5>Kathryn Steffy</h5>
                <div class="text-muted">
                  <b>Education: </b>
                  <p> J.D., American University Washington College of Law, 2019</p>
                  <p> M.A., Virginia Tech, 2016</p>
                  <p> B.S., B.A. Virginia Tech, 2015</p>
                  <b>Admissions: </b>
                  <p> Maryland</p>
                  <p> Washington, D.C.</p>
                  <p> kathrynsteffy@metropolitanlegalsolutions.coms</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer w-100">
            <p>Kathryn joined Metropolitan Legal Services with extensive experience in civil litigation and
              personal injury claims. Kathryn obtained her Bachelor of Arts in Political Science and a Bachelor
              of Science in Dairy Science from Virginia Tech in 2015. After completing her Master of Arts in
              Political Science from Virginia Tech in 2016, Kathryn began law school at Vermont Law School where
              she participated on the Emory Civil Rights and Liberties Moot Court Team, was a member of the
              Vermont Law Review, and was in the top 5% of her class. She completed her law degree from American
              University’s Washington College of Law and clerked in Judge Daniel Powell’s Chambers in Somerset
              County, Maryland. Katie joins our firm after working as an associate attorney at Downs Rachlin
              Martin, PLLC in Burlington, Vermont in their health law practice area, specializing in medical
              malpractice and wrongful death cases. In her spare time, Katie enjoys cheering on the Ohio State
              Buckeyes and spending time with her husband, Sam, and dog, Lucy.</p>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <h5 class="heading">Associates</h5>
    <!--  -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="row">
            <div class="col">
              <div class="card-block px-2">
                <p class="card-text"></p>
                <div class="image pull-left">
                  <img height="200" width="200" src="assets/img/janki.jpg" class="img-fluid" alt="">
                </div>
                <h5>Janki Kaswala</h5>
                <div class="text-muted">
                  <b>Education: </b>
                  <p> J.D., American University Washington College of Law, 2019</p>
                  <p> B.A., University of Maryland, College Park, 2015</p>
                  <b>Admissions: </b>
                  <p> Maryland</p>
                  <p> Washington, D.C.</p>
                  <p>jankikaswala@metropolitanlegalsolutions.com </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer w-100">
            <p>Janki joins Metropolitan Legal Solution as an associate attorney. Janki graduated from the University of
              Maryland, College Park with a Bachelor of Arts in History in 2015 and completed her Paralegal
              Certification from Georgetown University in 2016. Before attending law school, Janki worked as a paralegal
              intern with Paul Hastings, LLP in Washington, D.C. and as a Legislative Adie with Maryland State Senator
              Nathaniel J. McFadden. During her time at American University’s Washington College of Law, Janki was in
              the top 20% of her class, was President of the South Asian Law Student Association, and was an extern in
              the Maryland Attorney General’s Organized Crime Unit. Janki joins our firm from The Honorable Zuberi
              Bakari Williams’s chambers in the District Court for Montgomery County, Maryland. In her spare time, Janki
              enjoys hiking, and spending time with her dogs, Oreo, Cookie, and Jesse, and her cat, Tokyo.</p>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <h5 class="heading">Support Staff</h5>
    <!--  -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="row">
            <div class="col">
              <div class="card-block px-2">
                <p class="card-text"></p>
                <div class="image pull-left">
                  <img height="200" width="200" src="assets/img/donna.jpg" class="img-fluid" alt="">
                </div>
                <h5>Donna Sims (Legal Administrative Assistant)</h5>
                <div class="text-muted">
                  <p>donnasims@metropolitanlegalsolutions.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer w-100">
            <p>Donna M. Sims joined Metropolitan Legal Solutions as a legal assistant. In May 2009, she received her
              Bachelor’s Degree in Criminal Justice from Castleton State College, now Castleton University. Shortly
              after graduating, she began her career as a Docket Clerk with the D.C. Superior Court, serving as the
              Motions Clerk until joining Metropolitan Legal Solutions. Her knowledge of the D.C. Judiciary serves as an
              essential asset to the firm. When Donna is not working, she enjoys spending time with her nephew, Liam,
              and dog, Bentley.</p>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="row">
            <div class="col">
              <div class="card-block px-2">
                <p class="card-text"></p>
                <div class="image pull-left">
                  <img height="200" width="200" src="assets/img/taylor.jpg" class="img-fluid" alt="">
                </div>
                <h5>Rae Taylor (IT)</h5>
                <div class="text-muted">
                  <p>raetaylor@metropolitanlegalsolutions.com </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer w-100">
            <p>Rae Taylor jointed Metropolitan Legal Solutions as the Director of IT. Rae brings 5 years of
              experience in the field of information technology and has a diverse background in both commercial and
              legal settings. In May of 2015, she graduated from University of the Arts in Pennsylvania before becoming
              a software developer with Cablecom. After working for Cablecom, she joined Sidley Austin LLP as their IT
              assistant. In her spare time, Rae enjoys painting and playing with her cat, Deakin.</p>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
