<img src="assets/img/our-team.jpg" alt="alt text" width="100%" height="100%" />
<div class="paddedSection">
  <h4 class="title">Our Attorneys</h4>
  <div class="container-fluid">
    <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="row">
                <div class="col">
                  <div class="card-block px-2">
                    <p class="card-text"></p>
                    <div class="image pull-left">
                      <img height="200" width="200" src="assets/img/katie.jpg" class="img-fluid" alt="">
                    </div>
                    <h5>Kathryn Steffy</h5>
                    <div class="text-muted">
                      <b>Education: </b>
                      <p>   J.D., American University Washington College of Law, 2019</p>
                      <p>   M.A., Virginia Tech, 2016</p>
                      <p>   B.S., B.A. Virginia Tech, 2015</p>
                      <b>Admissions: </b>
                      <p>   Maryland</p>
                      <p>   Washington, D.C.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer w-100">
                <p>Kathryn joined Metropolitan Legal Services with extensive experience in civil litigation and
                  personal injury claims. Kathryn obtained her Bachelor of Arts in Political Science and a Bachelor
                  of Science in Dairy Science from Virginia Tech in 2015. After completing her Master of Arts in
                  Political Science from Virginia Tech in 2016, Kathryn began law school at Vermont Law School where
                  she participated on the Emory Civil Rights and Liberties Moot Court Team, was a member of the
                  Vermont Law Review, and was in the top 5% of her class. She completed her law degree from American
                  University’s Washington College of Law and clerked in Judge Daniel Powell’s Chambers in Somerset
                  County, Maryland. Katie joins our firm after working as an associate attorney at Downs Rachlin
                  Martin, PLLC in Burlington, Vermont in their health law practice area, specializing in medical
                  malpractice and wrongful death cases. In her spare time, Katie enjoys cheering on the Ohio State
                  Buckeyes and spending time with her husband, Sam, and dog, Lucy.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <div class="card-block px-2">
                      <p class="card-text"></p>
                      <div class="image pull-left">
                        <img height="200" width="200" src="assets/img/katie.jpg" class="img-fluid" alt="">
                      </div>
                      <h5>Kathryn Steffy</h5>
                      <div class="text-muted">
                        <b>Education: </b>
                        <p>   J.D., American University Washington College of Law, 2019</p>
                        <p>   M.A., Virginia Tech, 2016</p>
                        <p>   B.S., B.A. Virginia Tech, 2015</p>
                        <b>Admissions: </b>
                        <p>   Maryland</p>
                        <p>   Washington, D.C.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer w-100">
                  <p>Kathryn joined Metropolitan Legal Services with extensive experience in civil litigation and
                    personal injury claims. Kathryn obtained her Bachelor of Arts in Political Science and a Bachelor
                    of Science in Dairy Science from Virginia Tech in 2015. After completing her Master of Arts in
                    Political Science from Virginia Tech in 2016, Kathryn began law school at Vermont Law School where
                    she participated on the Emory Civil Rights and Liberties Moot Court Team, was a member of the
                    Vermont Law Review, and was in the top 5% of her class. She completed her law degree from American
                    University’s Washington College of Law and clerked in Judge Daniel Powell’s Chambers in Somerset
                    County, Maryland. Katie joins our firm after working as an associate attorney at Downs Rachlin
                    Martin, PLLC in Burlington, Vermont in their health law practice area, specializing in medical
                    malpractice and wrongful death cases. In her spare time, Katie enjoys cheering on the Ohio State
                    Buckeyes and spending time with her husband, Sam, and dog, Lucy.</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <p>Blurb placeholder
        </p>
      </div>
    </div>
  </div>
</div>
