.card-text {
  text-align:left;
}

h5 {
  text-align: left;
  padding-left:1em;
}

.card {
  padding:1em;
}

.card-footer {
  text-align: left;
}

p {
  margin-bottom:0px!important;
  text-align: left;
}

.image {
  width: 200px;
  padding-right:1em;
}

.paddedSection {
  text-align: left;
}

.card-block {
  padding-left:0px!important;
}

.heading {
  padding-top:1em;
  font-family: 'Bree Serif', serif;
}
