header {
  background: white;
  border-bottom: 5px solid;
  border-bottom-color: #083B66;

  .logo {
    font-weight: bold;
    color: white;
    text-decoration: none!important;
    width:12em;
  }

  nav {
    justify-self: right;
    color:white;
    text-decoration: none!important;
    margin-top: 50px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;

        a {
          padding: 1.5em;
          text-transform: uppercase;
          font-size: .8em;
          text-decoration: none;

          &:hover {
            background: gray;
            color:white!important;
          }
        }
      }
    }
  }
}

.grid {
  grid-template-columns: 30% auto;
}

@media all and (max-width:800px) //800px for tablets and phones.
{
    nav ul li
    {
        display: block;
        float: both;
        clear: both;
        width: 100%;
        padding-top:2em;
        padding-bottom:2em;
    }
}
