<header>
  <div class="container">
    <img *ngIf="!this.authService.protected" routerLink="/home" class="logo" src="assets/img/logo.png">
    <img *ngIf="this.authService.protected" routerLink="/client-home" class="logo" src="assets/img/logo.png">
    <!-- Public nav -->
    <nav *ngIf="!this.authService.protected">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/firm-profile">Firm Profile</a></li>
        <li><a routerLink="/our-team">Our Team</a></li>
        <li><a routerLink="/contact">Contact us</a></li>
        <li><a routerLink="/login">Client Login</a></li>
      </ul>
    </nav>
    <!-- Client nav -->
    <nav *ngIf="this.authService.protected">
        <ul>
          <li><a routerLink="/client-home">Home</a></li>
          <li><a routerLink="/billing">Billing</a></li>
          <li><a routerLink="/documents">Documents</a></li>
          <li><a routerLink="/contact">Contact us</a></li>
          <li><a (click)="this.logout()">Log Out</a></li>
        </ul>
      </nav>
  </div>
</header>
