header {
  background: white;
  border-bottom: 5px solid;
  border-bottom-color: #083B66;

  .logo {
    font-weight: bold;
    color: white;
    text-decoration: none!important;
  }

  nav {
    justify-self: right;
    color:white;
    text-decoration: none!important;
    margin-top: 50px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;

        a {
          padding: 1.5em;
          text-transform: uppercase;
          font-size: .8em;
          text-decoration: none;

          &:hover {
            background: gray;
            color:white!important;
          }
        }
      }
    }
  }
}
