<img src="assets/img/client-billing.jpeg" alt="alt text" width="100%" height="100%" />
<div class="paddedSection">
  <h4 class="title">Billing</h4>
  <div class="card">
    <div class="card-body">
      <p class="card-text">Below please find your billing record by month. For your convenience, you may pay your bill
        by phone, mail, or online through Venmo or PayPal. Please feel free to contact us with any questions you may
        have.
      </p>
      <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Document</th>
              <th scope="col">Payment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b class="text-muted">May 2019</b></td>
              <td><a href="assets/docs/Jane_Doe_Sample_Invoice.pdf" target="_blank" class="tab">Jane_Doe_Sample_Invoice</a></td>
              <td>
                <a href="https://www.paypal.com/us/home" target="_blank"><p class="fa fa-paypal"></p></a>
                <a href="https://venmo.com/" target="_blank"><img class="venmo" src="assets/img/venmo.png" alt="alt text" width="20px" height="20px"/></a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
