.list-group-item {
  border-radius: 0px;
}

.fa {
  text-align: center;
  color:gray;
  font-size:20px;
}

th {
  color:#083B66;
  background-color: #F0F0F0;
}

.venmo {
  margin-left:8px;
  margin-bottom:5px;
}
