<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-nav></app-nav>

<section>
  <router-outlet></router-outlet>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <p class="fa fa-facebook"></p>
            <p class="fa fa-twitter"></p>
            <p class="fa fa-linkedin"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="text-muted">Copyright &copy; 2019 Metropolitan Legal Solutions </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <span class="disclaimer">This website is an academic exercise and does not represent a real law firm or
          licensed
          attorneys.</span>
      </div>
    </div>
  </div>
</footer>
