<img src="assets/img/home-img.jpg" alt="alt text" width="100%" height="100%" />
<div class="paddedSection">
  <div class="card">
    <div class="card-body">
      <p class="card-text">When it matters most, you need experience, knowledge, and insight on your side. At
        Metropolitan Legal Solutions, we have profound experience in handling personal injury claims and aviation law
        issues. Home to some of the Washington, D.C. region’s most sought after lawyers, we excel at providing quality
        representation with a cost effective approach, all tailored to your needs.
        <br><br>
      </p>
      <p class="logoFont">Let us put our strength to work for you.</p>
    </div>
  </div>
</div>
