<img src="assets/img/client-docs.jpeg" alt="alt text" width="100%" height="100%" />
<div class="paddedSection">
    <h4 class="title">Your Documents</h4>
    <div class="card">
      <div class="card-body">
        <p class="card-text">You can locate all of our correspondence with you and sent on behalf of your case below:
        </p>
        <h5 class="sub-title">Correspondence</h5>
        <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Document</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b class="text-muted">5/5/2019</b></td>
                <td><a href="assets/docs/Jane_Doe_Retainer_Agreement_5.5.pdf" target="_blank" class="tab">Jane_Doe_Retainer_Agreement</a></td>
              </tr>
            </tbody>
          </table>
        </div>
          <h5 class="sub-title padded-top">Filings</h5>
          <p class="italic">Nothing here yet.</p>
          <h5 class="sub-title">Discovery</h5>
          <p class="italic">Nothing here yet.</p>
          <h5 class="sub-title">Court Orders</h5>
          <p class="italic">Nothing here yet.</p>
      </div>
    </div>
  </div>
