.fa {
  text-align: center;
  color:gray;
  font-size:18px;
}

th {
  color:#083B66;
  background-color: #F0F0F0;
}

.italic {
  padding-left:1.2em;
  font-style: italic;
}

.padded-top {
  padding-top: 1.2em;
}
